#data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.group-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 2px 2px;
}

#tooltip-div {
    right: 0;
    position: fixed;
    padding: 10px 55px 0 0;
}

#tooltip {
    width: 50px;
}

#tooltip-text {
    content: " ";
    word-wrap: break-word;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

#tooltip-div:hover #tooltip-text {
    visibility: visible;
    opacity: 1;
}

#filter-field {
    top: 18px;
    position: fixed;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('assets/search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#filter-field[type=text]:focus {
    width: 350px;
}

.group-header {
    display: flex;
    align-self: center;
}

.relic-icon {
    display: flex;
    width: 120px;
}

.reward-container {
    display: flex;
    flex-direction: column;
    height: 127px;
    overflow: auto;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.62);
}

.plat-container {
    display: flex;
    align-self: center;
}

.plat-container > p {
    margin: 0;
}

.plat-icon {
    width: 15px;
    height: 15px;
    align-self: center;
    padding-left: 2px;
}

body {
    background: url(./assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}