name: Update Warframe Data

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Data Files
        run: |
          curl -H "Language: en" -H "User-Agent: Mozilla/5.0" "https://api.warframe.market/v2/items" -o items.json
          curl -H "User-Agent: Mozilla/5.0" "https://drops.warframestat.us/data/relics.json" -o relics.json
          curl -H "Language: en" -H "User-Agent: Mozilla/5.0" "https://api.warframe.market/v1/tools/ducats" -o ducats.json

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update Warframe data files"
          file_pattern: "items.json relics.json ducats.json"
